.mtk7 {
  font-family: "Monaspace Argon Var";
  font-weight: 500;
}

.mtk11 {
  font-family: "Monaspace Argon Var";
  font-weight: 500;
}

.mtk4 {
  font-family: "Monaspace Argon Var";
  font-weight: 500;
}

.ghost-text-decoration {
  font-family: "Monaspace Krypton Var";
  font-weight: 200;
}

.ghost-text-decoration-preview {
  font-family: "Monaspace Krypton Var";
  font-weight: 200;
}
